.container {
  display: flex;
}

#background {
  width: 30vw;
  position: relative;
}

#background-image {
  width: 30vw;
  height: 100vh;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(380px / 3);
  height: calc(508px / 3);
}

#logo-background {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  height: calc((508px / 3) + 20px);
  width: 100%;
}

#content {
  width: 70vw;
}